<h5>Have an Item to Submit?</h5>
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
    <%= f.hidden_field :user_id ,{value:session[:current_user].id}%>
  <div class="control-group">
    <%= f.label 'Item Name'%>
    <div class='controls'>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Item Url'%>
    <div class='controls'>
      <%= f.text_field :url %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Item Price' %>
    <div class="controls">
      <%= f.text_field :price %>
    </div>
</div>
  <%= f.hidden_field :user_id ,{value:1}%>
  <div class="actions">
    <%= submit_tag 'Submit Item' %>
  </div>
  </fieldset>
<% end %>
